<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="public/styles/style.css" />

<!-- FONTY -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Newsreader:wght@400;600;700&display=swap" rel="stylesheet">

<!-- IKONY -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

<script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
<script src="public/scripts/main.js" defer></script>