<script src="public/scripts/main.js" defer></script>
<nav class="nav">
  <div class="container nav-inner">

    <div class="logo">FachowiecNaJuz</div>

    <i class="display-mobile fa-solid fa-bars"></i>

    <ul class="nav-links">
      <li><a href="/home">Home</a></li>
      <li><a href="/dashboard" class="active">Find Experts</a></li>
      <li><a href="/pro-dashboard">For Professionals</a></li>
    </ul>

    <div class="nav-actions">
      <button class="btn-text">Sign In</button>
      <button class="btn-main">Join as Pro</button>
    </div>

  </div>
</nav>