<script src="public/scripts/main.js" defer></script>
<nav>
  <div class="container">
    <span><i class="fa-solid fa-sun"></i></span>

    <i class="display-mobile fa-solid fa-bars"></i>

    <ul>
      <li>
        <a href="/"><i class="fa-solid fa-house"></i> HOME</a>
      </li>
      <li>
        <a href="/dashboard"
          ><i class="fa-solid fa-address-book"></i> PROFILE</a
        >
      </li>
      <li>
        <a href="/dashboard"
          ><i class="fa-solid fa-diagram-project"></i> ADD PROJECT</a
        >
      </li>
    </ul>
  </div>
</nav>